lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
.idea/
.DS_Store

# dotenv environment variables file
.env
.env.local
.env.staging
.env.stage
.env.prod
.local.env
.test.env
# Coverage directory used by tools like istanbul
coverage
# nyc test coverage
.nyc_output
# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# dist folder
dist/